* { 
    align-items: center;
    font-family: 'Courier New', Courier, monospace0;
    font-size: medium;
    background-color: rgb(238, 238, 171);

}

h1 { 
    
    font-size: x-large;
    font-weight: bolder;
}
